<!-- <ul class="list-group">
    <li (click)="setCurrentBrand(brand)" 
    routerLink="/cars/brand/{{brand.id}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
    
</ul> -->
<div class="accordion" id="accordionBrandName"></div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Marka
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list-group">
            <li (click)="setCurrentBrand(brand)" 
            routerLink="/cars/brand/{{brand.id}}"
            *ngFor="let brand of brands"
            [class]="getCurrentBrandClass(brand)">{{brand.brandName}}</li>
            
        </ul>
      </div>
    </div>
</div>

<div class="accordion" id="accordionBrandModel"></div>
<div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Model
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul class="list-group">
            <li (click)="setCurrentBrand(brand)" 
            routerLink="/cars/brand/{{brand.id}}"
            *ngFor="let brand of brands"
            [class]="getCurrentBrandClass(brand)">{{brand.model}}</li>
            
        </ul>
      </div>
    </div>
</div>