<table class="table">
    <thead>
        <tr>
            <th>BrandId</th>
            <th>ColorId</th>
            <th>GearId</th>
            <th>FuelId</th>
            <th>ModelYear</th>
            <th>DailyPrice</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars">
        <td>{{car.brandId}}</td>
        <td>{{car.colorId}}</td>
        <td>{{car.gearId}}</td>
        <td>{{car.fuelId}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
    </tr>
</table>
